/*====================Fonts================== */

@font-face {
    font-family: "rufina-r";
    src: url(../fonts/Rufina-Regular.ttf);
}

@font-face {
    font-family: "rufina-b";
    src: url(../fonts/Rufina-Bold.ttf);
}


/*====================Basic Setup=================== */

img {
    max-width: 100%;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

input,
select,
textarea,
button,
a {
    outline: none !important;
    box-shadow: none !important;
}

body,
html {
    font-size: 20px;
    overflow-x: hidden;
    scroll-behavior: smooth !important;
}

.container-fluid {
    padding: 0 60px !important;
}

.row {
    margin: 0 !important;
}


/*======================Headings===================== */

h1,
h2,
h3,
h4,
h5,
h6,
h7 {
    font-family: "rufina-r";
    font-weight: 700;
}

h1 {
    padding: 15px 0;
    font-size: 200%;
}

h2 {
    letter-spacing: 2px;
    padding: 60px 0;
}

h5 {
    padding: 20px 0;
    font-size: 110%;
}

h6 {
    font-size: 110%;
}


/*======================buttons===================== */

.pink-btn:link,
.pink-btn:visited,
.ghost-btn:link,
.ghost-btn:visited,
.round-btn:visited,
.round-btn:link,
.grey-btn:link,
.grey-btn:visited {
    border: none;
    border-radius: 0;
    font-size: 110%;
    font-weight: 500;
    padding: 10px 30px;
    margin-top: 20px;
    transition: background-color 0.5s ease, color 0.5s ease, border-color 0.5s ease;
}

.pink-btn:link,
.pink-btn:visited {
    background-color: #ff817e;
    color: #fff;
    margin-right: 20px;
}

.ghost-btn:link,
.ghost-btn:visited {
    color: #ff817e;
    border: 2px solid #ff817e;
    padding: 8px 28px !important;
}

.ghost-btn:active,
.ghost-btn:hover {
    background-color: #30383b !important;
    color: #ff817e !important;
    border-color: #30383b;
}

.pink-btn:active,
.pink-btn:hover,
.round-btn:active,
.round-btn:hover {
    color: #ff817e !important;
    background-color: #30383b !important;
}

.round-btn:link,
.round-btn:visited {
    background-color: #ff817e;
    color: #fff;
    border-radius: 30px;
}

.grey-btn:link,
.grey-btn:visited {
    background-color: #30383b;
    color: #ff817e;
    border-radius: 30px;
    margin-top: 0 !important;
}

.grey-btn:active,
.grey-btn:hover {
    background-color: #ff817e;
    color: #fff;
}


/*======================Nav Bar===================== */

.navbar-nav {
    z-index: 9999 !important;
    width: 100%;
}

.navbar-brand img {
    width: 70px;
    transition: transform 0.5s ease;
}

.navbar-brand img:hover {
    transform: scale(1.2);
}

.nav-item {
    padding: 40px 20px 10px 20px;
}

.nav-link {
    color: #263a41 !important;
    font-weight: 500;
    transition: color 0.5s ease;
    font-size: 100%;
}

.nav-link:hover {
    color: #ff817e !important;
}

.img-link {
    margin-left: auto;
}

.nav-item img {
    width: 28px;
}

.img-link a {
    position: relative;
}

.img-link a:hover .cart-hover {
    opacity: 1;
}

.cart-hover {
    position: absolute;
    left: 0.5rem;
    top: 0.7rem;
    opacity: 0;
    transition: opacity 0.5s ease;
}


/*======================fixed nav===================== */

.fixed-top {
    background-color: #fff;
    box-shadow: 0px 1px 20px 5px rgba(141, 141, 141, 0.644);
    transition: all 0.5s ease;
    transform: translate(0, -200px);
    padding: 5px 20px !important;
}

.fixed-top .nav-item {
    padding: 10px !important;
}

.inview {
    transform: translate(0, 0);
    transition: all 0.3s ease;
}


/*======================top section===================== */

.top-section {
    background-image: url(../img/Vector\ Smart\ Object.png);
    background-repeat: no-repeat;
    background-size: 150px;
    background-position: bottom left;
}

.img-container {
    background-color: #fff0ea;
    height: 500px;
    width: 500px;
    position: absolute;
    top: 0px;
    right: 0px;
    border-radius: 100% 0% 0% 100% / 0% 0% 100% 100%;
    overflow: hidden;
}

.img-div {
    height: 500px;
    width: 500px;
    position: absolute;
    top: 0px;
    right: 0px;
    border-radius: 100% 0% 0% 100% / 0% 0% 100% 100%;
    overflow: hidden;
}

.img-container img {
    width: 100%;
    height: 100%;
    opacity: 0.5;
    border-radius: 100% 0% 0% 100% / 0% 0% 100% 100%;
    transition: transform 0.5s ease, opacity 0.5s ease;
}

.img-container img:hover {
    /* opacity: 1; */
    transform: scale(1.1);
}

.text-div {
    margin-top: 50px;
}

.pink-p {
    color: #ff817e;
}

.light-p {
    color: #555;
    font-size: 90%;
}


/*=====================About-section====================== */

.about-section {
    padding: 120px 0 40px 0;
    position: relative;
}

.about-section img {
    margin-bottom: 20px;
}

.about-section p {
    color: #888;
}

.flower-1 {
    position: absolute;
    top: 50px;
    left: 100px;
}

.flower-2 {
    position: absolute;
    top: 20%;
    right: 15%;
}


/*=====================img section====================== */

.img-section img {
    width: 100%;
}

.img-section .col-md-3 {
    position: relative;
}

.hover-overlay {
    position: absolute;
    height: 100%;
    width: 97%;
    top: 0;
    bottom: 0;
    background-color: #ff817e;
    opacity: 0;
    visibility: hidden;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transition: all 0.5s ease;
}

.hover-overlay p {
    color: #fff;
}

.img-section .col-md-3:hover .hover-overlay {
    opacity: 0.7;
    visibility: visible;
    font-family: "rufina-b";
}

.hover-overlay img {
    width: 50px;
    margin-bottom: 10px;
}


/*=====================card section====================== */

.card-section {
    margin-bottom: 40px;
}

.grey-text {
    color: #888;
    padding: 0 100px;
    margin-bottom: 40px;
}

.card {
    padding: 20px;
    border-radius: 0;
}

.card-img-top {
    width: 100%;
    margin: auto;
    border-radius: 0;
}

.card-body {
    padding: 0;
}

.card-text {
    color: #888;
    font-weight: 100;
}


/*=====================why section====================== */

.why-section {
    background-color: #fff9f8;
}

.why-container img {
    width: 80px;
}

.why-container h6 {
    font-size: 110%;
    padding: 20px 0;
}

.why-para {
    color: #888;
    font-size: 90%;
}


/*=====================order section====================== */

.order-section {
    padding-bottom: 40px;
}

.order-img {
    display: flex;
    justify-content: flex-end;
}

.order-img img {
    width: 300px;
}

.work-steps {
    display: flex;
    align-items: center;
}

.steps {
    font-size: 150%;
    font-weight: 500;
    color: #ff817e;
    border: 3px solid #ff817e;
    border-radius: 50%;
    width: 60px;
    height: 60px;
    text-align: center;
    padding: 4px;
    margin-right: 20px;
}

.description {
    width: 90%;
    margin-bottom: 10px;
}


/*=====================carousel section====================== */

.carousel {
    background-color: #fff9f8;
}

.quote {
    padding: 120px 0 20px 0;
}

.quote::before {
    content: "\201D";
    font-size: 900%;
    color: #ff817e;
    position: absolute;
    top: -30px;
    bottom: 0;
    display: flex;
    justify-content: center;
    width: 100%;
    height: 100%;
}

.carousel-item img {
    margin-bottom: 10px !important;
}

.carousel-item h6 {
    padding-bottom: 50px;
}

.carousel-indicators li {
    width: 5px;
    height: 5px;
    border-radius: 100%;
    background-color: #ffc3c2;
}

.carousel-indicators .active {
    background-color: #ff817e;
}

.carousel-item span {
    font-weight: 100;
}


/*=====================team section====================== */

.team-section {
    padding-bottom: 60px;
}

.team-p {
    padding: 0 100px 40px 100px;
}

.team-img img {
    position: relative;
    width: 100%;
}

.team-overflow {
    background-color: #fff;
    -webkit-box-shadow: 0 5px 20px #f0f0f0;
    box-shadow: 0 5px 20px #f0f0f0;
    max-width: calc(100% - 60px);
    margin: -50px auto 0;
    padding: 30px;
    position: relative;
    text-align: center;
    -webkit-transition: all 300ms ease-in-out;
    -o-transition: all 300ms ease-in-out;
    transition: all 300ms ease-in-out;
    z-index: 1;
}

.memb-social {
    margin-top: -30px;
    -webkit-transition: all 300ms ease-in-out;
    -o-transition: all 300ms ease-in-out;
    transition: all 300ms ease-in-out;
    opacity: 0;
    visibility: hidden;
}

.memb-social a {
    border: 1px solid #30383b;
    border-radius: 50%;
    color: #30383b;
    display: inline-block;
    font-size: 13px;
    text-align: center;
    line-height: 26px;
    margin: 0 1px;
    height: 30px;
    width: 30px;
    transition: background-color 0.5s ease;
}

.memb-social a:hover {
    background-color: #ff817e;
}

.memb-social img {
    width: 15px;
}

.team-img:hover .team-overflow {
    margin-top: -84px;
}

.team-img:hover .memb-social {
    opacity: 1;
    visibility: visible;
    margin-top: 0;
}

.team-overflow p {
    color: #888;
    font-weight: 100;
}


/*=====================contact section====================== */

.contact-section,
.order {
    background-color: #fff9f8;
    padding-bottom: 60px;
}

.contact-section h2,
.order h2 {
    padding: 40px 0;
}

.contact-section p,
.order p {
    padding-bottom: 40px;
}

.contact-section address,
.order address {
    color: #888;
    font-size: 14px;
    font-weight: 400;
    padding-left: 80px;
    position: relative;
    padding-bottom: 40px;
}

.contact-section address img,
.order address img {
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    height: 50px;
    width: 50px;
}

.contact-section address a,
.order address a {
    color: #888;
    transition: color 0.5s ease;
    text-decoration: none;
}

.contact-section address a:hover,
.order address a:hover {
    color: #ff817e;
}

.contact-form {
    width: 100%;
}

.contact-section .contact-form input,
.contact .contact-form textarea,
.order .contact-form input,
.order .contact-form textarea {
    border: 1px solid #e3e6ea;
    display: block;
    padding: 10px 20px;
    margin-bottom: 25px;
    width: 100%;
}

.contact-section .contact-form input,
.contact-section .contact-form textarea {
    border: 1px solid #e3e6ea;
    display: block;
    padding: 10px 20px;
    margin-bottom: 25px;
    width: 100%;
}

.contact-section .col-md-7 .contact-form .submit-btn,
.order .col-md-7 .contact-form .submit-btn {
    border: none;
    border-radius: 0;
    font-size: 110%;
    font-weight: 500;
    padding: 10px 30px;
    margin-top: 20px;
    transition: background-color 0.5s ease, color 0.5s ease, border-color 0.5s ease;
}

.contact-section .col-md-7 .contact-form .submit-btn,
.order .col-md-7 .contact-form .submit-btn {
    background-color: #ff817e;
    color: #fff;
    border-radius: 30px;
}

.contact-section .col-md-7 .contact-form .submit-btn:hover,
.order .col-md-7 .contact-form .submit-btn:hover {
    color: #ff817e !important;
    background-color: #30383b !important;
}


/*==================footer section==================== */

.footer {
    background-color: #fff9f8;
    padding: 60px 0 60px;
    border-top: 1px solid #ff817e;
}

.footer .foo-nav {
    margin: 30px 0;
}

.foo-nav ul {
    display: flex;
    justify-content: center;
    list-style: none;
}

.foo-nav ul li {
    padding: 0 20px;
}

.foo-nav ul li a {
    text-decoration: none;
    color: #263a41;
    font-size: 80%;
    font-weight: 500;
    text-transform: uppercase;
    transition: color 0.5s ease;
}

.foo-social {
    margin-bottom: 30px;
}

.foo-social a {
    text-decoration: none;
    border-right: 1px solid #b1b4bb;
    display: inline-block;
    padding: 0 10px;
}

.foo-social img {
    width: 20px;
    transition: transform 0.5s ease;
}

.foo-social img:hover {
    transform: scale(1.3);
}

.foo-nav ul li a:hover {
    color: #ff817e;
}

.copyright a {
    color: #ff817e;
    text-decoration: none;
    transition: color 0.5s ease;
}

.copyright a:hover {
    color: #263a41;
}


/*====================media query======================= */

@media only screen and (max-width: 991px) {
    .navbar-light .navbar-toggler {
        z-index: 999;
        border: none !important;
    }
    .navbar-light .navbar-toggler-icon {
        background-image: url(../img/list.svg) !important;
    }
    .img-link {
        margin-left: 0;
    }
    .navbar-nav {
        margin-left: 0 !important;
    }
    .nav-item {
        border-bottom: 2px solid #ff817e;
    }
    .img-link {
        border: none !important;
    }
    .cart-hover {
        left: 0 !important;
    }
    .team-overflow {
        padding: 10px;
    }
    .card {
        padding: 10px;
    }
    .pink-btn:link,
    .pink-btn:visited,
    .round-btn:visited,
    .round-btn:link,
    .grey-btn:link,
    .grey-btn:visited {
        padding: 10px 17px !important;
    }
    .ghost-btn:link,
    .ghost-btn:visited {
        padding: 8px 4px !important;
    }
}

@media only screen and (max-width: 965px) {
    .why-heading {
        padding: 16px 0 0 0 !important;
    }
}

@media only screen and (max-width: 946px) {
    .why-heading-2 {
        padding: 16px 0 0 0 !important;
    }
    .about-us .about-us-overlay img {
        padding: 10px;
    }
    .about-us h2 {
        padding: 10px !important;
    }
}

@media only screen and (max-width: 853px) {
    .about-us-overlay {
        position: relative !important;
        padding: 30px;
    }
}

@media only screen and (max-width: 767px) {
    .img-container {
        background-color: #fff0ea00;
    }
    .img-div,
    .img-container,
    .img-container img {
        height: 100%;
        width: 100%;
        border-radius: 0 !important;
    }
    .text-div {
        z-index: 2;
        background-color: #ffffff85;
        padding-bottom: 20px;
    }
    .light-p {
        color: #000;
    }
    .navbar-collapse {
        z-index: 999;
    }
    .img-section img {
        padding: 4px 0;
    }
    .hover-overlay {
        opacity: 0.3;
        width: 98%;
        visibility: visible;
    }
    .card-section .row {
        justify-content: center;
    }
    .card-section .card:last-child {
        margin-top: 30px !important;
    }
    .grey-text {
        padding: 0;
    }
    .order-img {
        justify-content: center;
        margin-bottom: 30px;
    }
    .team-img {
        margin-top: 30px;
    }
    .team-overflow {
        padding: 30px;
    }
    .contact-section .row {
        text-align: center;
    }
    .why-heading,
    .why-heading-2 {
        padding: 20px 0 !important;
    }
    .btn {
        margin: 20px 0 !important;
        padding: 8px !important;
    }
    .products .container-fluid {
        padding: 0 30px !important;
    }
}

@media only screen and (max-width: 576px) {
    .products .container-fluid #myBtnContainer {
        display: flex !important;
        justify-content: space-evenly;
    }
}

@media only screen and (max-width: 573px) {
    .hover-overlay {
        left: 7px;
        height: 99%;
        top: 3px;
    }
}

@media only screen and (max-width: 495px) {
    body {
        font-size: 17px;
    }
    h2 {
        font-size: 150%;
        padding: 30px 10px;
    }
    .container-fluid {
        padding: 0 10px !important;
    }
    .img-container,
    .img-div {
        position: relative;
    }
    .foo-nav ul li {
        padding: 0 5px;
    }
    .team-p {
        padding: 0 10px;
    }
}

@media only screen and (max-width: 400px) {
    .products .container-fluid #myBtnContainer {
        flex-direction: column !important;
    }
}

@media only screen and (max-width: 303px) {
    .foo-nav ul {
        flex-direction: column;
    }
    .foo-nav ul li {
        padding: 10px;
    }
}


/* =============Animation=================== */

.js--wp-1,
.js--wp-1-2,
.js--wp-1-3,
.js--wp-2,
.js--wp-3,
.js--wp-4,
.js--wp-5,
.js--wp-6 {
    opacity: 0;
    animation-duration: 1s;
}

.js--wp-1.animated,
.js--wp-1-2.animated,
.js--wp-1-3.animated,
.js--wp-2.animated,
.js--wp-3.animated,
.js--wp-4.animated,
.js--wp-5.animated,
.js--wp-6.animated {
    opacity: 1;
}


/* =================ABOUT US PAGE==================== */

.about-us {
    position: relative;
}

.about-us-overlay img {
    width: 100px;
    padding-top: 40px;
    padding-bottom: 30px;
}

.about-us-overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    bottom: 0;
    background: linear-gradient(#aa076ca4, #61045fa4, #ffaf7bb7);
}

.heading-p {
    color: #fff;
    font-family: "rufina-b";
    font-size: 120%;
    letter-spacing: 2px;
}

.about-us h2 {
    padding: 30px 0;
    color: #ff817e;
}

.about-us-p {
    color: #fff;
    font-size: 90%;
}

.cover-img {
    width: 100% !important;
}


/* ================products page================= */

.products h2 {
    padding: 30px 0 !important;
    margin: 0;
}

.products .row {
    padding-bottom: 40px;
}

.container-fluid {
    overflow: hidden;
}

.filterDiv {
    text-align: center;
    padding: 10px;
    display: none;
}

.show {
    display: block;
}

.btn {
    border: none;
    outline: none;
    padding: 12px 16px;
    background-color: transparent;
    cursor: pointer;
    margin: 0 10px 30px 0;
}

.btn:hover {
    background-color: #ddd;
}

.btn.active {
    background-color: #666;
    color: white;
}


/* =============Order page================ */